*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    flex-direction: row;
    padding: 4px 6px;
    position: sticky;
    top:0;
    background-color: #494139;
}
.navlist{
    width: 50%;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.navlist li{
    list-style: none;
}

.navlist a{
    color: white;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    margin: 0px 6px;
    padding: 12px 18px;
}
.navlist a:hover{
    background-color: rgba(128, 128, 128, 0.644);
    border: 2px solid white;
    border-radius: 10px;
    padding: 6px 12px;
}
.navlist img{
    height: 40px;
    width: 38px;
    border:white;
    border-radius: 50px;
    margin: 2px 12px;
}

.rightnav{
    width: 50%;
    float: right;
    text-align: right;
    padding: 6px 10px;
    margin: 2px 2px;
}
#search{
    padding: 4px;
    color: black;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 8px;
}
.btnsmall{
    margin: 2px 2px;
    padding: 2px 2px;
    font-size: 13px;
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
    background: none;
    color: white;
}

.contact{
    background: url('../bgcontact.jpg') no-repeat center center fixed;
    height: 100vh;
    opacity: 0.9;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.textcenter{
    text-align: center;
    padding: 30px;
    font-size: 34px;
    color: rgb(8, 5, 5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form{
    max-width: 500px;
    margin: auto;
}

.btn-dark{
    color: black;
    border: 2px solid black;
    padding: 2px 2px;
    margin: 2px 2px;
    border-radius: 6px;
    cursor: pointer;
}

.form input{
    width: 100%;
    font-size: 18px;
    border: 2px solid grey;
    border-radius: 6px;
    margin: 14px 0px;
    padding: 5px 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#text{
    width: 100%;
    font-size: 18px;
    border: 2px solid grey;
    border-radius: 6px;
    margin: 14px 0px;
    padding: 5px 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.textfooter{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 20px;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}

@media only screen and (max-width: 935px){
    .navlist{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 445px;
        transition: all 0.7s ease-out;
    }
    .rightnav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav{
        height: 60px;
    }
    .v-class{
        opacity: 0;
    }
    .btn-dark{
        font-size: 20px;
    }
    .textfooter{
        height: 50px;
    }
    .form input{
        width: 90%;
        margin: 14px 18px;
    }
    #text{
        width: 90%;
        margin: 14px 18px;
    }
    .btn-dark{
        margin: 2px 20px;
    }
}