<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="../css/contact.css">

    <title>iEducate - Transforming Online Education</title>
</head>

<body>
    <nav class="navbar background h-nav">
        <ul class="navlist v-class">
            <div class="logo">
                <img src="img.png" alt="logo">
            </div>
            <li><a href="/#nav1">Home</a></li>
            <li><a href="/#about">About Us</a></li>
            <li><a href="/#nav2">Services</a></li>
            <li><a href="/contact.html">Contact Us</a></li>
        </ul>
        <div class="rightnav v-class">
            <input type="text" name="search" id="search">
            <button class="btnsmall">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <section class="contact">
        <div class="heading">
            <h2 class="textcenter">Contact Us</h2>
        </div>
        <div class="form" method="post">
            <input type="text" name="name" id="name" placeholder="Enter Your Name">
            <input type="email" name="email" id="name" placeholder="Enter Your mail id">
            <input type="text" name="phone" id="name" placeholder="Enter Your Phone Number">
            <textarea name="text" id="text" cols="20" rows="5">Elaborate Your Concern</textarea>
            <button class="btn btn-dark">Submit</button>
        </div>
    </section>

    <footer class="textfooter">
        Copyright &copy; 2021 - All Rights Reserved www.codewithpraduman.com
    </footer>
    <script src="js/resp.js"></script>
</body>