<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>iEducate - Transforming Online Education</title>
</head>

<body>
    <nav class="navbar background h-nav">
        <ul class="navlist v-class">
            <div class="logo">
                <img src="img.png" alt="logo">
            </div>
            <li><a href="/#nav1">Home</a></li>
            <li><a href="/#about">About Us</a></li>
            <li><a href="/#nav3">Services</a></li>
            <li><a href="/contact.html">Contact Us</a></li>
        </ul>
        <div class="rightnav v-class">
            <input type="text" name="search" id="search">
            <button class="btnsmall">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <section class="background firstsection" id="nav1">
        <div class="boxmain">
            <div class="fhalf">
                <p class="textbig">The Future Of Education Is Here.</p>
                <p class="textsmall">“Online education is electronically supported learning that relies on the Internet
                    for teacher/student interaction and the distribution of class materials.”</p>
                <div class="buttons">
                    <button class="btn ">Subcribe</button>
                    <button class="btn">Watch Videos</button>
                </div>
            </div>
            <div class="shalf">
                <img src="bg2.jpg" alt="image">
            </div>
        </div>
    </section>
    <section class="secright" id="nav3">
        <div class="paras">
            <p class="sectiontag textbig">The End Of Your Search Is Here.</p>
            <p class="sectionsubtag textsmall">Online learning involves courses offered by postsecondary institutions
                that are 100% virtual, excluding massively open online courses (MOOCs). Online learning, or virtual
                classes offered over the internet, is contrasted with traditional courses taken in a brick-and-mortar
                school building. It is the newest development in distance education that began in the mid-1990s with the
                spread of the internet and the World Wide Web. Learner experience is typically asynchronous, but may
                also incorporate synchronous elements. The vast majority of institutions utilize a Learning Management
                System for the administration of online courses. As theories of distance education evolve, digital
                technologies to support learning and pedagogy continue to transform as well.</p>
        </div>
        <div class="thumbmail">
            <img src="https://source.unsplash.com/900x900/?coding" alt="image cannot be loaded" class="imgfluid">
        </div>
    </section>
    <section class="secleft">
        <div class="thumbmail">
            <img src="https://source.unsplash.com/900x900/?laptop,study" alt="image cannot be loaded" class="imgfluid">
        </div>
        <div class="paras">
            <p class="sectiontag textbig">Expand Your Career Opportunities.</p>
            <p class="sectionsubtag textsmall">Join millions of learners from around the world already learning on
                Udemy. Find the right instructor for you. Choose from many topics, skill levels, and languages.Taking an
                online learning program, you'll be an officially registered student to our institution and have access
                to all the resources as a student, like your institution's digital library, learning management system
                (like Blackboard), student union membership and more! An online course is similar to taking a course
                program on campus, but you have the freedom to direct your own study schedule.</p>
        </div>
    </section>
    <section class="secright">
        <div class="paras">
            <p class="sectiontag textbig">Why Online Education?</p>
            <p class="sectionsubtag textsmall">Online education is known to offer the benefit of synergy. Here, the
                format employed makes room for dynamic communications between students and the teachers. Through these
                communications, sources are shared, and an open-ended synergy evolves through a learning process. When
                each person bestows a view or opinion through discussions and comments on others’ work course, it
                benefits the student to learn better. This unique advantage is manifested in a student-centred virtual
                learning environment that online learning format alone can contribute.Through online education, the
                teaching of classes is being made more interesting, due to which children are paying more and more
                attention to it.Online education is also environmentally beneficial because the dependence on online
                will reduce the need for copy and book.Online learning saves time, as well as a greater diversity of
                knowledge.</p>
        </div>
        <div class="thumbmail">
            <img src="https://source.unsplash.com/900x900/?online,education" alt="image cannot be loaded"
                class="imgfluid">
        </div>
    </section>

    <footer class="textfooter">
        Copyright &copy; 2021 - All Rights Reserved www.codewithpraduman.com
    </footer>
    <script src="js/resp.js"></script>
</body>

</html>